# To load CSV files

using airports_df=pd.read_csv('data/info.csv')

In [1]:
import pandas as pd
from pathlib import Path

In [ ]:
cwd=Path.cwd()
parent_of_cwd=cwd.parent

In [43]:
new_file=Path.joinpath(parent_of_cwd,'CSV_files/Info.csv')
information=pd.read_csv(new_file)
information

     name      city      state
0   pavan   barnala     punjab
1   ankit  bathinda     punjab
2  sweety  bathinda     punjab
3    sona  hydrabad         AP
4    anil       AFA  telangana

# Handling rows with errors

There may be more values in a row corresponding to the no of columns

In [45]:
new_file=Path.joinpath(parent_of_cwd,'CSV_files/ExtraColumnError.csv')
information=pd.read_csv(new_file,error_bad_lines=False)
output_file='data/DismissingTheExtraValueRows.csv'
information.to_csv(output_file,index=False)
information

b'Skipping line 3: expected 3 fields, saw 4\n'

     name      city      state
0   pavan   barnala     punjab
1  sweety  bathinda     punjab
2    sona  hydrabad         AP
3    anil       AFA  telangana

# Handling files which do not contains column names

In [41]:
new_file=Path.joinpath(parent_of_cwd,'CSV_files/DoesNotContainsColumnNames.csv')
information=pd.read_csv(new_file,header=None)
information

        0         1          2
0   pavan   barnala     punjab
1   ankit  bathinda     punjab
2  sweety  bathinda     punjab
3    sona  hydrabad         AP
4    anil       AFA  telangana

In [44]:
new_file=Path.joinpath(parent_of_cwd,'CSV_files/DoesNotContainsColumnNames.csv')
information=pd.read_csv(new_file,header=None,names=['names','city','state'])
output_file='data/FilesContainingColumnNames.csv'
information.to_csv(output_file,index=False)
information

    names      city      state
0   pavan   barnala     punjab
1   ankit  bathinda     punjab
2  sweety  bathinda     punjab
3    sona  hydrabad         AP
4    anil       AFA  telangana

# Missing values in a row

In [39]:
new_file=Path.joinpath(parent_of_cwd,'CSV_files/MissingValuesInRowError.csv')
information=pd.read_csv(new_file)
output_file='data/MissingValuesInRow1.csv'
information.to_csv(output_file,index=False)
information

     name      city      state
0   pavan       NaN     punjab
1   ankit  bathinda     punjab
2  sweety  bathinda     punjab
3    sona  hydrabad         AP
4    anil       AFA  telangana