# Moving data from numpy arrays to pandas DataFrames
In our last notebook we trained a model and compared our actual and predicted results

What may not have been evident was when we did this we were working with two different objects: a numpy array and a pandas DataFrame

To explore further let's rerun the code from the previous notebook to create a trained model and get predicted values for our test data

In [4]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
newfile=Path.joinpath(Path.cwd().parent,'CSV_files/lots_of_flight_data.csv')
delays_df=pd.read_csv(newfile)
delays_df.dropna(inplace=True)
delays_df.drop_duplicates(inplace=True)
X=delays_df.loc[:,['DISTANCE','CRS_ELAPSED_TIME']]
y=delays_df.loc[:,['ARR_DELAY']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=20)
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)

In [5]:
type(y_pred)

numpy.ndarray

In [6]:
type(y_test)

pandas.core.frame.DataFrame

y_pred is a numpy array


y_test is a pandas DataFrame


Another way you might discover this is if you try to use the head method on y_pred.

This will return an error, because head is a method of the DataFrame class it is not a method of numpy arrays

In [25]:
names=np.array(['pavan','ankit','sona','sweety','anil'])
names

array(['pavan', 'ankit', 'sona', 'sweety', 'anil'], dtype='<U6')

In [37]:
names=pd.Series(['pavan','sweety','ankit','anil','sona'])
names

0     pavan
1    sweety
2     ankit
3      anil
4      sona
dtype: object

In [35]:
names=np.array([['pavan','kumar'],['ankit','kumar'],['sona','nathan']])
names

array([['pavan', 'kumar'],
       ['ankit', 'kumar'],
       ['sona', 'nathan']], dtype='<U6')

In [36]:
names=pd.DataFrame([['pavan','kumar'],['ankit','kumar'],['sona','nathan']])
names

       0       1
0  pavan   kumar
1  ankit   kumar
2   sona  nathan